{% extends 'base.html' %}
{% load crispy_forms_tags %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">My Quizzes</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new question</li>
    </ol>
  </nav>
 {% block page_content %}
 {% if wallet.user == user %}
  <h2 class="mb-3">Add money in wallet</h2>
 
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'customers:prod_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
  {% else %}
  <H1> Prohibited!!</h1>
  {% endif %}
{% endblock %}
